.services {
    color: var(--light);
    padding: 24px 40px 40px;
}

.services h2 {
    color: var(--light);
}

.services h3 {
    display: inline-block;
    color: var(--accent);
    background: none;
    border-bottom: 5px solid var(--secondary);
    text-transform: uppercase;
}